<div class="form">

	{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-block create">Enregistrer</button>

	{{ form_end(form) }}

</div>
