{% extends 'base.html.twig' %}

{% block title %}Gestion des animaux
{% endblock %}

{% block body %}

<h1>Gestion des animaux</h1>

<p>
	<a href="{{ path('back_animal_create')}}" class="btn btn-success">Ajouter un animal</a>
</p>

{% for animal in animals %}

	<li>{{ animal.name }}
		{% if animal.gender == 1 %}
			- Mâle
			<a class="btn btn-sm btn-primary" href="{{ path('back_animal_update', {id: animal.id}) }}">Modifier</a>
		</li>
	{% elseif animal.gender == 2 %}
		- Femelle
		<a class="btn btn-sm btn-primary" href="{{ path('back_animal_update', {id: animal.id}) }}">Modifier</a>
	</li>
{% endif %}{% endfor %}{% endblock %}
