{% extends "base.html.twig" %}

{% block title %}
    Modifier un animal
{% endblock %}

{% block subtitle %}<h2>Modification de {{ animal.name }}</h2>{% endblock %}

{% block body %}

{{ include('back/animal/_form.html.twig') }}

<a class="btn back" href="{{ path('back_shelter_read') }}">Retour à la liste</a>

{% endblock %}